@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.menuApp__MenuSection--detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.menuApp__MenuSection--detailsContainer:last-child {
  border-bottom: none;
}

.menuApp__MenuSection--imageDetailsContainer {
  display: flex;
  flex-direction: row;
}

.menuApp__MenuSection--image {
  width: 80px;
  height: 80px;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.menuApp__MenuSection--title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.menuApp__MenuSection--nameDetails {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.menuApp__MenuSection--descriptionDetails {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.menuApp__MenuSection--price {
  margin: 20px;

  font-family: "Open Sans", sans-serif;
}

.menuApp__MenuSection--detailsTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 20px;
}
